.login-content-back {
    // --background: none;
    // background: url(../../../assets/loginbg.png) no-repeat 0 0;
    // background-size: cover;
    --background: #fff url('../../../assets/loginbg2.png') no-repeat center center / cover;
}

.loginpage-logo{
    margin: auto;
    display: block; 
    height: auto; 
    width: 32%;
}

.logo-row{
    margin-top: 20vw;
    //galaxy fold
    @media only screen and (max-width: 280px) and (min-width: 0px){
        margin-top: 36vw ;
    }

    
    //iphone x
    @media only screen and (max-width: 375px) and (min-width: 361px) and (max-height: 812px) and (min-height: 668px){
        margin-top: 32vw;
    }



    //nexus 5x
    @media only screen and (max-width: 412px) and (min-width: 376px){
        margin-top: 14vw;
    }


    //iphone XR
    @media only screen 
    and (device-width : 414px) 
    and (device-height : 896px)  {
        margin-top: 32vw;
    }

    //surfduo
    @media only screen and (max-width: 767px) and (min-width: 539px){
        margin-top: 2vw;
    }


    //ipad mini, ipad
    @media only screen and (max-width: 779px) and (min-width: 768px){
        margin-top: 0vw;

    }


    //ipad pro
    @media only screen and (max-width: 1039px) and (min-width: 829px){
        margin-top: 0vw;
    }

    @media only screen and (max-width: 1299px) and (min-width: 1040px){
        margin-top: 0vw;
    }

    @media only screen and (min-width: 1300px) {
        margin-top: 0vw;
    }
}

.login-topic{
    font-size: 8vw;
    color: white;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input-rows{
    margin-left: 12vw;
    margin-top: 6vw;
}

.password-row{
    margin-left: 12vw;
    margin-top: 3vw;
}

.input-itms{
    width: 80%;
    border-radius: 2vw;
    --background: white;
}

.login-inputs{
    --color: black;
    --placeholder-color: #978F8F;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

