<!-- creted by prabhashibuddhima -->
<ion-content class="login-content-back" fullscreen>
  <ion-grid>
    <ion-row class="logo-row">
      <ion-col>
        <div>
          <img src="../../../assets/no_bg_logo.png" align="center" class="loginpage-logo" />
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 40vw; margin-left: 12vw;">
      <ion-col>
        <div class="login-topic">
          Login
        </div>
      </ion-col>
    </ion-row>

    <form [formGroup]="loginForm" (ngSubmit)="loginData()">
      <ion-row class="input-rows">
        <ion-item lines="none" class="input-itms">
          <ion-input id="username" class="login-inputs" type="text" placeholder="Username" formControlName="username"
            [(ngModel)]="username" name="username" required></ion-input>
        </ion-item>

      </ion-row>
      <ion-row class="input-rows">
        <ion-item
          *ngIf="loginForm != null && loginForm.get('username').valid && loginForm.get('username').touched && !loginForm.get('username').valid"
          lines="none" class="warningMsg">
          <ion-label color="danger">
            Please Enter Your Username
          </ion-label>
        </ion-item>
      </ion-row>

      <ion-row class="password-row">
        <ion-item lines="none" class="input-itms">
          <ion-input id="password" class="login-inputs" type="password" placeholder="Password"
            formControlName="password" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>
      </ion-row>

      <ion-row class="input-rows">
        <ion-item
          *ngIf="loginForm != null && loginForm.get('password').valid && loginForm.get('password').touched && !loginForm.get('password').valid"
          lines="none" class="warningMsg">
          <ion-label color="danger">
            Please Enter Your Password
          </ion-label>
        </ion-item>
      </ion-row>

      <ion-row class="input-rows">
        <ion-col>
          <ion-button class="login-btn" type="submit"
            [disabled]="username == null || password == null || !loginForm.get('username').valid || username == '' || password == '' ">
            Login
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>



</ion-content>