<ion-app>
  <ion-grid style="margin-top: 6vh">
    <ion-row style="margin-top: 40vh;text-align: center">
        <ion-col>
            <div>
                <ion-spinner name="circles" style="width: 20vw;color: #2B71B6; transform: scale(1.5); flex-direction: column">
                </ion-spinner>
            </div>

        </ion-col>
    </ion-row>
   
  </ion-grid>
  <ion-router-outlet></ion-router-outlet>
</ion-app>