<!-- created by prabhashibuddhima -->
<ion-content class="mainui-content-back" fullscreen *ngIf="homedata">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div style="text-align: end;">
          <ion-icon name="log-out-outline" style="zoom: 2" (click)="logout()"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="logo-row">
      <ion-col>
        <div>
          <img src="../../../assets/no_bg_logo.png" align="center" class="mainuipage-logo" />
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 14vw;">
      <ion-col>
        <ion-item class="name-topic-item">
          <ion-label class="name-topic">
            Employees
          </ion-label>
        </ion-item>
      </ion-col>

    </ion-row>

    <div *ngIf="hasEmployees == true">
      <ion-row *ngFor="let emp of employeeAvalone">
        <ion-col>
          <ion-item lines="none" class="empname-cls">
            {{emp.fname}} {{emp.lname}}
            <ion-icon name="reader-outline" slot="end" (click)="viewDetails(emp)"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>



    <ion-row *ngIf="hasEmployees == false" style="margin-top: 20vw;margin-left: 8vw;">
      <ion-col>
        <ion-item lines="none">
          No employees available to show. Add employees by clicking "+" at the bottom right corner.
        </ion-item>
      </ion-col>
    </ion-row>



  </ion-grid>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToAddEmployee()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-content *ngIf="!homedata">
  <ion-grid style="margin-top: 6vh">
    <ion-row style="margin-top: 40vh;text-align: center">
      <ion-col>
        <div>
          <ion-spinner name="circles" style="width: 20vw;color: #2B71B6; transform: scale(1.5); flex-direction: column">
          </ion-spinner>
        </div>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>