<!-- created by prabhashibuddhima -->
<ion-content class="mainui-content-back" fullscreen *ngIf="homedata">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div style="text-align: start;">
         
          <ion-icon name="arrow-back-outline" style="zoom: 2" (click)="goBack()"></ion-icon>
         
        </div>
        
      </ion-col>
    </ion-row>

    <ion-row class="logo-row">
      <ion-col>
        <div>
          <img src="../../../assets/no_bg_logo.png" align="center" class="mainuipage-logo" />
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 14vw;">
      <ion-col>
        <ion-item class="name-topic-item">
          <ion-label class="name-topic">
            Create an Employee
          </ion-label>
        </ion-item>
      </ion-col>

    </ion-row>

    <form [formGroup]="createEmpForm" (ngSubmit)="createEmployee()">
      <ion-row>
        <ion-col>
          <ion-item lines="none" class="empinputs">
            <ion-label position="floating" class="floatinglbl">Employee ID</ion-label>
            <ion-input id="empID" class="login-inputs" type="text" formControlName="empID"
            [(ngModel)]="empID" name="empID" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none" class="empinputs">
            <ion-label position="floating" class="floatinglbl">First Name</ion-label>
            <ion-input id="fname" class="login-inputs" type="text" formControlName="fname"
            [(ngModel)]="fname" name="fname" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none" class="empinputs">
            <ion-label position="floating" class="floatinglbl">Last Name</ion-label>
            <ion-input id="lname" class="login-inputs" type="text" formControlName="lname"
            [(ngModel)]="lname" name="lname" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none" class="empinputs">
            <ion-label position="floating" class="floatinglbl">Gender</ion-label>
            <!-- <ion-input ></ion-input> -->
            <ion-select id="gender" class="login-inputs" type="text" formControlName="gender"
            [(ngModel)]="gender" name="gender" required>
              <ion-select-option value="Male">Male</ion-select-option>
              <ion-select-option value="Female">Female</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none" class="empinputs">
            <ion-label position="floating" class="floatinglbl">Date of Birth</ion-label>
            <ion-datetime id="dob" class="login-inputs" type="text" formControlName="dob"
            [(ngModel)]="dob" name="dob" required></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none" class="empinputs">
            <ion-label position="floating" class="floatinglbl">Email</ion-label>
            <ion-input id="email" class="login-inputs" type="text" formControlName="email"
            [(ngModel)]="email" name="email" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item
          *ngIf="createEmpForm != null && !createEmpForm.get('email').valid && createEmpForm.get('email').touched && createEmpForm.get('email').value"
          lines="none" class="warningMsg">
          <ion-label color="danger" style="font-size: 3vw;" >
            Please enter a valid email
          </ion-label>
        </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none" class="empinputs">
            <ion-label position="floating" class="floatinglbl">Phone</ion-label>
            <ion-input id="phone" class="login-inputs" type="text" formControlName="phone"
            [(ngModel)]="phone" name="phone" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item
          *ngIf="createEmpForm != null && !createEmpForm.get('phone').valid && createEmpForm.get('phone').touched && createEmpForm.get('phone').value"
          lines="none" class="warningMsg">
          <ion-label color="danger" style="font-size: 3vw;" >
            Please enter a valid phone number
          </ion-label>
        </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-item lines="none" class="empinputs">
            <ion-label position="floating" class="floatinglbl">Address</ion-label>
            <ion-input id="address" class="login-inputs" type="text" formControlName="address"
            [(ngModel)]="address" name="address" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none" class="empinputs">
            <ion-label position="floating" class="floatinglbl">Status</ion-label>
            <!-- <ion-input ></ion-input> -->
            <ion-select id="status" class="login-inputs" type="text" formControlName="status"
            [(ngModel)]="status" name="status" required>
              <ion-select-option value="Single">Single</ion-select-option>
              <ion-select-option value="Married">Married</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row style="margin-left: 4vw;margin-top: 3vw;margin-bottom: 6vw;">
        <ion-col>
          <ion-button class="login-btn" type="submit"
            [disabled]="empID == null || fname== null || lname == null || gender==null || dob == null || email == null || phone == null || address == null || status == null || !createEmpForm.get('email').valid || !createEmpForm.get('phone').valid || empID == '' || fname== '' || lname == '' || gender=='' || dob == '' || email == '' || phone == '' || address == '' || status == '' ">
            Create
          </ion-button>
        </ion-col>
      </ion-row>



    </form>

    

  </ion-grid>

 

</ion-content>

<ion-content *ngIf="!homedata">
  <ion-grid style="margin-top: 6vh">
    <ion-row style="margin-top: 40vh;text-align: center">
      <ion-col>
        <div>
          <ion-spinner name="circles" style="width: 20vw;color: #2B71B6; transform: scale(1.5); flex-direction: column">
          </ion-spinner>
        </div>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
