<!-- created by prabhashibuddhima -->
<ion-content class="mainui-content-back" fullscreen  *ngIf="homedata">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div style="text-align: start;">

          <ion-icon name="arrow-back-outline" style="zoom: 2" (click)="goBack()"></ion-icon>

        </div>

      </ion-col>
    </ion-row>

    <ion-row class="logo-row">
      <ion-col>
        <div>
          <img src="../../../assets/no_bg_logo.png" align="center" class="mainuipage-logo" />
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 14vw;">
      <ion-col>
        <ion-item class="name-topic-item">
          <div>
            <div class="name-topic" style="text-align: start;">
              {{fname}} {{lname}}
            </div>
            <div style="font-size: 3vw;color: #767676;">
              Emp Id: {{empID}}
            </div>
          </div>


        </ion-item>
      </ion-col>

    </ion-row>


   

    <ion-row>
      <ion-col>
        <ion-item lines="none" class="empinputs">
          <ion-label position="floating" class="floatinglbl">First Name</ion-label>
          <ion-input id="fname" class="login-inputs" type="text" [(ngModel)]="fname" name="fname" disabled></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none" class="empinputs">
          <ion-label position="floating" class="floatinglbl">Last Name</ion-label>
          <ion-input id="lname" class="login-inputs" type="text" [(ngModel)]="lname" name="lname" disabled></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none" class="empinputs">
          <ion-label position="floating" class="floatinglbl">Gender</ion-label>
          <!-- <ion-input ></ion-input> -->
          <ion-select id="gender" class="login-inputs" type="text" [(ngModel)]="gender" name="gender" disabled>
            <ion-select-option value="Male">Male</ion-select-option>
            <ion-select-option value="Female">Female</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none" class="empinputs">
          <ion-label position="floating" class="floatinglbl">Date of Birth</ion-label>
          <ion-datetime id="dob" class="login-inputs" type="text" [(ngModel)]="dob" name="dob" disabled></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none" class="empinputs">
          <ion-label position="floating" class="floatinglbl">Email</ion-label>
          <ion-input id="email" class="login-inputs" type="text" [(ngModel)]="email" name="email" disabled></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>



    <ion-row>
      <ion-col>
        <ion-item lines="none" class="empinputs">
          <ion-label position="floating" class="floatinglbl">Phone</ion-label>
          <ion-input id="phone" class="login-inputs" type="text" [(ngModel)]="phone" name="phone" disabled></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-item lines="none" class="empinputs">
          <ion-label position="floating" class="floatinglbl">Address</ion-label>
          <ion-input id="address" class="login-inputs" type="text" [(ngModel)]="address" name="address" disabled>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none" class="empinputs">
          <ion-label position="floating" class="floatinglbl">Status</ion-label>
          <!-- <ion-input ></ion-input> -->
          <ion-select id="status" class="login-inputs" type="text" [(ngModel)]="status" name="status" disabled>
            <ion-select-option value="Single">Single</ion-select-option>
            <ion-select-option value="Married">Married</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row style="margin-left: 4vw; margin-top: 3vw; margin-bottom: 8vw;">
      <ion-col>
        <ion-button class="edit-btn" (click)="editEmployee()">
          <ion-icon name="create-outline" style="color: white;"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button class="dlt-btn" (click)="deleteEmployee()">
          <ion-icon name="trash-outline" style="color: white;"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>









  </ion-grid>



</ion-content>


<ion-content *ngIf="!homedata">
  <ion-grid style="margin-top: 6vh">
    <ion-row style="margin-top: 40vh;text-align: center">
      <ion-col>
        <div>
          <ion-spinner name="circles" style="width: 20vw;color: #2B71B6; transform: scale(1.5); flex-direction: column">
          </ion-spinner>
        </div>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>