.dlt-btn{
    width: 86%;
    text-transform: none;
    --color: white;
    --background: #c25353;
    --border-radius: 2vw;
    height: 12vw;
}

.edit-btn{
    width: 86%;
    text-transform: none;
    --color: white;
    --background: #2B71B6;
    --border-radius: 2vw;
    height: 12vw;
}