/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.mainui-content-back{
    --background: #fff url('./assets/mainui_bg.png') no-repeat center center / cover;
}

.mainuipage-logo{
    margin: auto;
    display: block; 
    height: auto; 
    width: 26%;
}

.logo-row{
    margin-top: 8vw;
    //galaxy fold
    @media only screen and (max-width: 280px) and (min-width: 0px){
        margin-top: 24vw;
    }

    

    //galaxy s5
    @media only screen and (max-width: 360px) and (min-width: 321px){
        margin-top: 10vw;

    }

   
    //iphone x
    @media only screen and (max-width: 375px) and (min-width: 361px) and (max-height: 812px) and (min-height: 668px){
        margin-top: 24vw;
    }



    //nexus 5x
    @media only screen and (max-width: 412px) and (min-width: 376px){
        margin-top: 6vw;
    }


    //iphone XR
    @media only screen 
    and (device-width : 414px) 
    and (device-height : 896px)  {
        margin-top: 24vw;
    }

    //surfduo
    @media only screen and (max-width: 767px) and (min-width: 539px){
        margin-top: 0vw;
    }


    //ipad mini, ipad
    @media only screen and (max-width: 779px) and (min-width: 768px){
        margin-top: 0vw;

    }

    //ipad pro
    @media only screen and (max-width: 1039px) and (min-width: 829px){
        margin-top: 0vw;
    }

    @media only screen and (max-width: 1299px) and (min-width: 1040px){
        margin-top: 0vw;
    }

    @media only screen and (min-width: 1300px) {
        margin-top: 0vw;
    }


}

.name-topic{
    // font-size: 8vw;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.name-topic-item{
    font-size: 6vw;
    --border-color: black;
    --background: transparent;
}

.floatinglbl{
    color: #978F8F;
    font-size: 4vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.empinputs{
    border-radius: 2vw;
    width: 86vw;
    margin-left: 4vw;
    margin-top: 3vw;
    --background: #E3E3EE;
}

.login-btn{
    width: 30%;
    text-transform: none;
    --color: white;
    --background: #2B71B6;
    --border-radius: 2vw;
    height: 10vw;
}